html{
background-color: white;
}

/*mao ning design saimong over all header*/
header {
  background-color: rgba(255, 255, 255);  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px; 
  
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*mao ning sa logo*/
.logo img {
  height: 100px;
  border-radius: 150px;
  position: absolute;
  left: 10px;
  top: 0;
}
/*mao dayn ning sa katong mga home churva*/
nav ul {
  list-style: none;
  display: flex;
  margin-left: 750px
  
}

nav li {
  margin-right: 20px;
  
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  border-radius: 20px;
  
}

nav a:hover,
nav a:focus {
  background-color: #000;
  color: #ff6600;
  }

.social-links {
  display: flex;
  justify-content:left;
  align-items: left;
}

.social-links li {
  list-style: none;
  margin: 0 10px;
}

.social-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.social-links a:hover {
  color: #0077b5;
}
/* footer nga side*/
footer {
  background-color: #fefefe;
  padding: 1px;
  margin-top: 30px;
  width: 100%;
  height: 30%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }
  
  .social-media-icons {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 50px;

  }
  
  .social-media-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .social-media-icons a:hover {
    background-color: #555;
  }
  
  .social-media-icons a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .social-media-icons a:hover img {
    filter: invert(100%);
  }
  
  s

body {
  overflow-y: scroll;
}    